{{#link-to 'tasks.index' job}}
  <h4 class="job-name">{{job.name}}</h4>

  {{#if job.complete}}
    {{check-success complete=true success=true}}
  {{else}}
    <div class='task-circles'>
      {{#each job.tasks as |task|}}
          <div class="circle" data-complete={{task.complete}}></div>
      {{/each}}
    </div>
  {{/if}}

  <h4 class="job-user">{{job.user.name}}</h4>
{{/link-to}}
